{% extends "base.html" %}

{% block title %}Main{% endblock %}


{% block content %}
    <h1 class="text-info amatic-text">Cart</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="row">
        {% for product in carts %}
            <div class="col-sm-6">
                <div class="card border-info mb-3">
                    <div class="d-flex bd-highlight">
                        <div class="mr-auto p-2 bd-highlight">
                            <h4 class="text-success">
                                {{ product.product.name }}
                            </h4>
                            <h5 class="text-info">
                                Price: {{ product.product.price }}
                            </h5>
                        </div>
                        <div class="p-2 bd-highlight"><h3><a
                                href="{% url 'remove_product' product.pk %}" class="text-success" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                class="far fa-trash-alt"></i></a></h3>
                        </div>
                    </div>
                    <div class="card-body text-info d-flex">
                        <h5 class="card-text mr-auto">Amount: {{ product.amount }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
