{% extends "base.html" %}

{% block title %}Main{% endblock %}


{% block content %}
    <h1 class="text-info amatic-text font-weight-bold">Orders</h1>
    {% for checkoutorder in checks %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                <h2 class="d-flex justify-content-center">Order №: {{ checkoutorder.order.pk }}</h2>
                <p>product: {{ checkoutorder.checkout_product }}</p>
                <p>qty: {{ checkoutorder.total_amount }}</p>
                <p>name: {{ checkoutorder.order.user_name }}</p>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
