{% extends "base.html" %}

{% block title %}Main{% endblock %}


{% block content %}
    <h1 class="text-info amatic-text font-weight-bold">Orders</h1>
    {% for order in orders %}
        <ul class="list-group mb-3">
            <li class="list-group-item list-group-item-info">
                <h3 class="d-inline-block">{{ order.checkout_product.name }}</h3>
                <h4 class="d-inline-block float-right">qty: {{ order.total_amount }}</h4>
                <h4 class="">order #: {{ order.order_id }}</h4>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
